.flexible-content {
    width: 86%;
    margin: 0 auto 0 auto;
    padding: 1rem 0;

    @media screen and (max-width: 860px) {
        width: 100%;
    }

    .intro-text {
        font-size: 1.25rem;
    }

    .photo-row {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
        column-gap: 1.5rem;
        row-gap: 1.5rem;

        &.count-3 {
            grid-template-columns: 1fr 1fr 1fr;
        }

        &.count-4 {
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }

        &.count-2 {
            grid-template-columns: 1fr 1fr;
        }

        @media (max-width: 779px) {
            grid-template-columns: auto !important;
        }

        .grid-head {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 1.5rem;

            h2 {
                margin: 0;
                font-size: 2rem;

                @media (max-width: 779px) {
                    font-size: 1.5rem;
                }
            }
        }
    }

    .photo-text {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0;

        img {
            max-width: 50%;
            margin-right: 2rem;
            width: 50%;
            object-fit: cover;
            aspect-ratio: 1 / 1;
        }

        &.right {
            flex-direction: row-reverse;
            justify-content: space-between;

            img {
                margin-left: 2rem;
                margin-right: 0;
            }
        }

        h3 {
            margin-top: 0;
        }

        @media screen and (max-width: 860px) {
            flex-direction: column;

            img {
                max-width: 100%;
                margin-right: 0;
                height: auto;
                width: 100%;
                max-height: 24rem;
                margin: 0 0 2rem 0;
            }

            &.right {
                flex-direction: column;
            }
        }
    }

    .wysiwyg {
        column-gap: 4rem;
        display: flex;

        h2 {
            column-span: all;
            margin-bottom: 1.5rem;
            text-wrap: auto;
        }
        
        h3 {
            margin-top: 0;
            text-wrap: auto;
        }

        .column-start {
            break-before: column;
        }

        .columns-2 {
            width: 50%;
        }

        @media (max-width: 779px) {
            column-count: auto !important;
            width: 100%;
            flex-direction: column;

            h3 {
                margin-top: 2rem !important;
            }

            .columns-1,
            .columns-2,
            .columns-3 {
                width: 100%;
                margin-bottom: 2rem;

                > :last-child {
                    margin-bottom: 0;
                }
            }

            > :last-child {
                margin-bottom: 0;
            }
        }
    }

    &.full-wdith-photo {
        width: 100%;
    }

    .full-width {
        // margin: 0 calc(50% - 50vw);
        max-height: 30rem;
        object-fit: cover;
        overflow: hidden;
        display: flex;

        img {
            object-fit: cover;
            width: 100%;
        }
    }

    &.border-follow {
        border-bottom: 4px solid #ededed;
        padding-bottom: 4rem;
        margin-bottom: 2rem;
    }

    &.extrapadding-both {
        padding: 4rem 0;
    }

    &.extrapadding-top {
        padding-top: 4rem;   
    }

    &.extrapadding-bottom {
        padding-bottom: 4rem;
    }

    @media (max-width: 779px) {
        &.extrapadding-both {
            padding: 3rem 0;
        }
    
        &.extrapadding-top {
            padding-top: 3rem;   
        }
    
        &.extrapadding-bottom {
            padding-bottom: 3rem;
        }
    }

    p:last-child,
    ul:last-child,
    li:last-child {
        margin-bottom: 0;
    }
}
