form {
    background: $cw-grey-light;
    padding: 1.5rem;
}

label {
    font-size: 0.875rem;
    color: $cw-charcoal;
    font-weight: 300;
}

input,
select,
textarea {
    display: flex;
    padding: 0.75rem 0.5rem;
    align-items: center;
    align-self: stretch;
    border: 1px solid #EAEBEB;
    background: #FFF;
    width: 100%;
    margin: 0.25rem 0 0.75rem 0;
    color: #AAACAC;
    font-size: 1rem;
    font-weight: 300;
}

input.button {
    font-weight: 400;
}

::placeholder {
    color: #AAACAC;
    font-size: 1rem;
    font-weight: 300;
}

.form-row {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin: 2rem 0;

    input[type='checkbox'] {
        width: auto;
        margin: 0;
    }
}

// form button.button {
//     background: lighten($color: $cw-red, $amount: 20%) !important;
// }

button,
button.button {
    outline: 0;
    border: none;
    width: 100%;
    display: flex;
    margin: 0;
    font-size: 0.9375rem;
    text-align: center;
    margin: 1.5rem 0 0 0;
    background: $cw-red;
}

.facetwp-pager {
    margin: 3rem auto 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;

    a {
        display: flex;
        width: 3rem;
        height: 3rem;
        padding: 0.9375rem 0rem;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        border: 2px solid #D4D5D6;
        color: #D4D5D6;
        text-decoration: none;
        font-weight: 500;
        @include slowfade();


        &:hover {
            color: darken($color: #D4D5D6, $amount: 20);
            border-color: darken($color: #D4D5D6, $amount: 20);
            @include slowfade();
        }

        &.active {
            color: $cw-red;
            border: 2px solid $cw-red;
            font-weight: 500;
        }
    }
}

.property-search .facetwp-facet input.facetwp-search {
    width: 60vw !important;
    height: 4rem !important;
    padding-left: 1.5rem;
    max-width: 1000px;

    @media (max-width: 580px) {
        width: 85vw !important;
    }
}

.property-search .facetwp-icon {
    right: 1.5rem !important;
}

.mc4wp-response .mc4wp-success {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #ccc;
    padding: 1.5rem 2rem;
    background: #f5f5f5;
    border-top: 3px solid #e4002b;
    display: flex;
    align-items: center;

    p {
        font-size: 1.25rem;
        font-weight: 400;
        text-align: center;
    }
}

.hf-message-success {
    font-size: 1.25rem;
    font-weight: 400;
    text-align: center;
    width: 100%;
    padding: 2rem auto;
}

.lead-gen-form {
    margin-top: 4rem;
    margin-bottom: 4rem;;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @media (max-width: 580px) {
        flex-direction: column;
        row-gap: 2rem;
    }

    .form-content {
        width: 48%;    

        @media (max-width: 580px) {
            width: 100%;
        }

        h5 {
            text-transform: uppercase;
            line-height: 1.2;
        }
    }

    form {
        max-width: 600px;
        margin: 0 auto;
        background: none;
        padding: 0;

        .btn-hollow {
            margin-top: 0;
        }
    }

    .cta {
        flex-direction: column;
        width: 48%;
        height: auto;
        margin: 0 0 auto 0;
        padding: 3rem 2rem;
        row-gap: 0.25rem;
        align-items: flex-start;

        @media (max-width: 580px) {
            width: 100%; 
        }

        &::after {
            display: none;
        }

        h3 {
            color: #fff;
            text-transform: none;
            margin-bottom: 1rem !important;
        }

        p {
            font-size: 0.9rem;
            line-height: 1rem;

            strong {
            color: #fff;
            margin-top: 0.5rem;
            display: flex;
            }
        }

        .buttons {
            display: flex;
            flex-direction: row;
            width: 100%;
            column-gap: 1.25rem;
            align-items: center;
            margin-top: 1.25rem;

            @media (max-width: 1024px) {
                flex-direction: column;
                row-gap: 1rem;
                align-items: flex-start;

                a {
                    padding: 0;
                }
            }
        }

        button {
            margin: 0;
        }

        a {
            color: #fff;
            float: left;
            height: 2rem;
            padding: .5rem 0.75rem;
            margin: 0;
            font-size: 0.875rem;
            line-height: 1.2;
            text-decoration: underline;

            &:hover {
                color: #fff;
                text-decoration: none;
            }

            &.button {
                background: $cw-red;
                color: #fff !important;
                font-weight: 500;
                text-transform: none;
                line-height: 1.2;
                text-decoration: none;
                padding: 0.5rem 1rem 0.75rem 1rem;

                &:hover {
                    background: darken($cw-red, 10%);
                    color: #fff !important;
                }

                @media (max-width: 580px) {
                    margin-bottom: 0;
                }
            }
        }
    }
}
