.property-search {
    .facetwp-facet-availability {
        display: flex;
        column-gap: 1rem;

        span.facetwp-display-value::before {
            content: "For ";
        }

        .facetwp-radio {
            padding-left: 0;
            background: none;
            padding: 0.25rem 1rem;
            border: solid 2px #eceff1;
            text-transform: uppercase;
            margin-bottom: 1.5rem;

            @include slowfade();

            &.checked {
                background: $cw-red;
                border: solid 2px $cw-red;
                opacity: 1;

                .facetwp-display-value {
                    color: #fff !important;
                }

                @include slowfade();
            }

            .facetwp-display-value {
                color: $cw-charcoal-light !important;
                font-weight: 400;
                font-size: 1rem;

                @include slowfade();
            }
        }
    }

    section.map {
        // width: calc(100% - 2rem);
        // margin: 0 1rem;
        height: 40rem;
        margin-bottom: 3rem;

        @media (max-width: 680px) {
            height: auto;

            .button {
                margin-bottom: 1.5rem;
            }
        }
    }

    .gm-style iframe + div { border:none!important; }

    .main {
        width: 86%;
        margin: 2.5rem auto 0 auto;
        display: flex;
        flex-direction: row-reverse;
        padding: 0;
        justify-content: space-between;
        column-gap: 1.5rem;
    }
}

.single-property {
    .facetwp-template,
    .facetwp-map-filtering {
      display: none;
    }
}

.properties-container {
    width: 70%;

    .grid-head {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1.5rem;

        h2 {
            margin: 0;
            font-size: 2rem;

            @media (max-width: 779px) {
                font-size: 1.5rem;
            }
        }
    }
}

.properties-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
    column-gap: 1.5rem;
    row-gap: 1.5rem;
    margin-top: 2rem;

    @media (max-width: 779px) {
        grid-template-columns: auto;
    }

    .grid-head {
        grid-column: 1 / span 2;
    }

    .card {
        border: 1px solid #ECEFF1;

        img {
            height: 15rem;
            width: 100%;
            object-fit: cover;
        }

        .content {
            padding: 1.5rem;
            width: 100%;

            .availability {
                width: 100%;
                display: inline-flex;
                color: #7F8283;
                font-size: 0.875rem;
                font-weight: 400;
                line-height: 1.125rem;
                letter-spacing: 0.00875rem;
                text-transform: uppercase;
                margin-bottom: 0.5rem;
            }

            .property_type {
                margin-bottom: 1rem;
            }

            h3 {
                font-size: 1.25rem;
                margin-bottom: 0.5rem;

                a:hover{
                    text-decoration: none;
                }
            }
        }
    }
}

.related-properties {
    justify-content: center;
    margin-top: 5rem;

    h4 {
        text-align: center;
    }
}

// Mobile Flyout

.facetwp-flyout.active {
    width: 400px !important;
}

.facetwp-flyout-close,
.facetwp-flyout-content {
    padding: 1.5rem !important;
}

.flyout-item {
    margin-bottom: 1.5rem !important;

    .facetwp-facet {
        .facetwp-input-wrap {
            width: 100%;

            input.facetwp-search {
                width: 100% !important;
            }
        }
    }
}

.flyout-row h3 {
    font-size: 1.25rem;
    margin: 0 0 1rem 0;
}

// Map Info Windows

.gm-style .gm-style-iw-c,
.gm-style-iw-d {
    padding: 0;
    border-radius: 0;
    width: 15rem;
    overflow: hidden !important;
}

button.gm-ui-hover-effect {
    position: absolute !important;
    right: 0;
    opacity: 1;
    z-index: 1;

    span {
        background-color: #fff;
    }
}

.infowindow {
    width: 15rem;
    position: relative;

    &::after {
        content: "";
        display: flex;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 10rem;
        background: linear-gradient(-156deg, rgba(0, 0, 0,0.2), rgba(0, 0, 0, 0));
        pointer-events: none;
    }
    a {
        position: relative;
    }
    img {
        width: 100%;
        height: 10rem;
        object-fit: cover;
        margin-bottom: 1rem;
    }

    h3 {
        font-size: 1rem;
        margin: 0.75rem 0.5rem 0.5rem 1rem;
    }

    .property_type {
        margin: 0 0 0 0.85rem;
    }

    p {
        margin: 0 0.5rem 1rem 1rem;
        font-size: 0.875rem;
        line-height: 1.2;
    }
}

.my-cluster-class {
    position: absolute; /* not optional */
    background: url("/images/map-icons/CWS-map-icon-multiple.svg") center center no-repeat;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    font-size: 13px;
    line-height: 28px;
    text-align: center;
}

// Utils
.facetwp-map-filtering,
.gm-style-iw-ch {
    display: none;
}

@media (min-width: 780px) {
    .facetwp-flyout-open {
        display: none !important;
    }
}

@media (max-width: 779px) {
    .sidebar.filter,
    .name-keyword_homepage,
    .name-city_town,
    .name-property_status_homepage,
    .name-property_type_homepage {
        display: none;
    }

    .properties-container {
        width: 100%;
    }
}
