section.banner-container {
  box-shadow: 0px 1px 0px 0px #EAEBEB;

  @media screen and (max-width: 1140px) {
    margin-top: 5rem;
  }
}

header.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6875rem 0;
  margin: 0 auto;
  max-width: 88rem;
  width: 86%;
  margin: 0 auto;

  @media screen and (max-width: 1140px) {
    padding: 0.6875rem 1rem;
    width: 100%;
    @include slowfade();
  }

  @media screen and (max-width: 1140px) {
    width: 100vw;
    background: #fff;
    height: 5rem;
    position: fixed;
    z-index: 4;
    top: 0;
  }

  .brand {
    max-width: 175px;
    position: relative;
    z-index: 6;
  }

  .nav-desktop,
  .menu-primary-menu-container {
    width: 100%;
  }

  .nav-primary {
    width: 100%;

    ul {
      display: flex;
      flex-direction: row;
      list-style-type: none;
      justify-content: flex-start;
      align-items: center;
      gap: 2.5rem;
      margin: 0;

      @media screen and (max-width: 1200px) {
        gap: 1.75rem;
        @include slowfade();
      }

      @media screen and (max-width: 1140px) {
        display: none;
      }

      li {
        margin: 0;
        position: relative;
        display: flex;
        padding: 0;
        align-self: stretch;
        min-height: 4.25rem;

        a {
          color: #545859;
          font-weight: 300;
          font-size: 0.875rem;
          display: inline-flex;
          line-height: 1.2;
          text-align: center;
          padding: 1rem 0;
          align-self: center;

          @media screen and (max-width: 1140px) {
            font-size: 0.875rem;
            @include slowfade();
          }

          &:hover {
            color: #3F4243;
            text-decoration: none;
          }
        }

        &.contact {
          a {
            padding: 0.9375rem 1.2rem;
            justify-content: center;
            align-items: center;
            background: $cw-red;
            color: white;
            display: flex;
            font-size: 0.9375rem;
            font-weight: 400;
            text-transform: uppercase;
            line-height: 1.15;

            @media screen and (max-width: 1140px) {
              padding: 0.7rem 0.5rem;
              font-size: 0.8rem;
              @include slowfade();
            }
          }
        }

        ul.sub-menu {
          visibility: hidden;
          opacity: 0;
          display: flex;
          justify-content: space-evenly;
          align-items: flex-start;
          flex-direction: column;
          padding: 1rem;
          margin-top: 0.5rem;
          position: absolute;
          top: 92%;
          left: 50%;
          z-index: 9999;
          list-style-type: none;
          border-radius: 3px;
          transform: translateX(-50%);
          white-space: nowrap;
          gap: 0;

          @include slowfade();
    
          li {
            position: static;
    
            a {
              color: $cw-charcoal-light;
              font-size: 1rem;
              padding: 1rem;
              text-transform: none;
    
              @include slowfade();
    
              &:hover {
                color: $cw-charcoal;
                @include slowfade();
              }
            }
    
            &.active a {
              color: $cw-red-dark;
            }

            &::before {
              content: "";
              position: absolute;
              top: -20px;
              left: 50%;
              transform: translateX(-50%);
              border: 10px solid transparent;
              border-bottom-color: #fff;
            }
          }
    
          @media (max-width: 580px) {
            width: 100%;
            justify-content: space-evenly;
    
            li a {
              padding: 15px 0;
              line-height: 1;
            }
          }
        }

        &:hover > ul,
        &:focus-within > ul,
        ul:hover,
        li.active ul {
          visibility: visible;
          opacity: 1;
          height: auto;
          background-color: #fff;          
          box-shadow: 0 0 26px -20px rgba(0, 0, 0, 0.5);
  
          @include slowfade();
        }
  
        &.menu-item-has-children a {
          background: url("/images/menu-arrow.svg") right center no-repeat;
          padding-right: 1rem;
          margin-right: 0.75rem;
          text-align: left;
        }
  
        &.menu-item-has-children.active a {
          background: url("/images/menu-arrow.svg") right center no-repeat;
        }

        &.menu-item-has-children.marketbeat {
          margin-left: auto;

          a {
            text-indent: -9999999px;
            padding: 0;
            width: 1.5rem;
            height: 1.5rem;
            background: url("/images/icons/person.svg") no-repeat;
          }

          ul li a {
            background: none;
            width: unset;
            height: unset;
            text-indent: 0;
            padding: 1rem;
          }
        }
  
        &.menu-item-has-children ul li a,
        &.menu-item-has-children.active ul li a {
          background: none;
          margin-right: 0;
        }
      }
    }
  }
}

// Mobile Menu styles

body.is-active {
  overflow: hidden;
}

nav.nav-mobile nav {
  width: 0;
  position: fixed;
  right: 0;
  top: 0;
  height: 0;
  z-index: 2;
  background: none !important;
  box-shadow: -1rem -2rem 2rem rgba(0, 0, 0, 0);
  // transition: width 0.5s ease-out;
  transition: all 0.5s ease-out;

  @media (max-width: 580px) {
    transition: all 0.2s ease;
  }

  ul {
    margin: 5rem auto 0 auto;
    padding: 2rem 3rem 3rem 3rem;
    opacity: 0;
    transition: opacity 0.5s ease-out;
    list-style-type: none;
    background: #fff;

    li {
      padding: 0.5rem 0;
      min-width: 12rem;

      @media (max-width: 580px) {
        font-size: 2rem;
        line-height: 2rem;
      }

      &.menu-item-has-children a {
        background: url("/images/menu-arrow.svg") right center no-repeat;
        padding-right: 1rem;
        margin-right: 0.75rem;
        text-align: left;
      }

      &.menu-item-has-children.active a {
        background: url("/images/menu-arrow.svg") right center no-repeat;
      }

      &.menu-item-has-children ul li a {
        background: none;;
      }

      a {
        font-size: 1.25rem;
        font-weight: 400;
      }

      ul.sub-menu {
        visibility: hidden;
        opacity: 0;
        display: flex;
        justify-content: space-evenly;
        align-items: flex-start;
        flex-direction: column;
        padding: 0;
        margin-top: 0;
        z-index: 9999;
        list-style-type: none;
        border-radius: 3px;
        white-space: nowrap;
        gap: 0;
        height: 0;
      }

      &:hover > ul,
      &:focus-within > ul,
      ul:hover,
      li.active ul {
        visibility: visible;
        opacity: 1;
        height: auto;
        background-color: #fff;  
        padding: 1rem;        

        @include slowfade();

        li {
          padding: 0;
          margin: 0;

          a {
            color: $cw-charcoal-light;
            font-size: 1rem;
            padding: 1rem 0.5rem;
            text-transform: none;

            @include slowfade();

            &:hover {
              color: $cw-charcoal;
              @include slowfade();
            }
          }
        }
      }
    }
  }

  .scrolling-active.logged-in & ul {
    margin-top: 5rem;

    ul {
      margin-top: 0;
    }
  }

  @media (max-width: 580px) {
    position: fixed;
    height: 8.4rem;
  }

  @media (max-height: 580px) {
    position: fixed;
    height: 8.4rem;
  }
}

/* Menu Icon */
.hamb {
  cursor: pointer;
  float: right;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 3;
  padding: 0 1.25rem;
  height: 4.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
}

.logged-in .hamb,
.logged-in nav,
.logged-in header.banner {
  top: 2rem;

  @media screen and (max-width: 782px) {
    top: 2.85rem;
  }
}

.scrolling-active.logged-in header.banner,
.scrolling-active.logged-in .hamb {
  @media screen and (max-width: 600px) {
    top: 0;
  }
}

.hamb-line {
  background: #e4002b;
  display: block;
  height: 4px;
  position: relative;
  width: 24px;
}

.hamb-line::before,
.hamb-line::after {
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  transition: all 0.2s ease-out;
  width: 100%;
  background: #e4002b;
}

.hamb-line::before {
  top: 8px;
}

.hamb-line::after {
  top: -8px;
}

.nav-title {
  font-size: 0.8125rem;
  font-weight: 500;
  color: #e4002b;
  position: relative;
  top: 1rem;
  width: 100%;
  text-align: center;
  left: 0;
  opacity: 1;
  transition: all 0.4s ease-out;
  text-transform: uppercase;
  -webkit-font-smoothing: subpixel-antialiased;
}

.nav-mobile input {
  display: none;
}

/* Toggle menu icon */
.nav-mobile input:checked ~ nav {
  width: 100vw;
  box-shadow: -1rem -2rem 2rem rgba(0, 0, 0, 0.3);
  background: #fff !important;

  ul {
    opacity: 1;
    background: #fff;
    overflow: scroll;
    height: 100vh;
    margin: 0;
    padding: 11rem 3rem 5rem 4.5rem;

    ul {
      height: auto;
      overflow: visible;
      padding: 0 0 0 1rem;

      li {
        margin: 0 0 0.5rem 0;
        padding: 0;

        a {
          color: $cw-charcoal;
          line-height: 1;
          display: inline-flex;
        }
      }
    }
  }

  @media (max-width: 580px) {
    width: 100%;
    height: 100%;
    box-shadow: none;
    z-index: 3;
    border-radius: 0;
    top: 0;
    right: 0;

      ul {
        margin-top: 9rem;
        padding-top: 0;

        ul {
          margin-top: 0;
        }
      }
  }

  @media (max-height: 580px) {
    width: 100%;
    height: 100%;
    box-shadow: none;
    z-index: 3;
    border-radius: 0;
    top: 0;
    right: 0;
  }
}

@media (max-height: 580px) {
  .nav-mobile input:checked ~ .hamb {
    z-index: 4;
  }
}

@media (max-width: 580px) {
  .nav-mobile input:checked ~ .hamb {
    z-index: 4;
  }
}

.nav-mobile input:checked ~ .hamb .nav-title {
  opacity: 0;
  bottom: 20px;
}

.nav-mobile input:checked ~ .hamb .hamb-line {
  background: transparent;
}

.nav-mobile input:checked ~ .hamb .hamb-line::before {
  transform: rotate(-45deg);
  top: 0;
}

.nav-mobile input:checked ~ .hamb .hamb-line::after {
  transform: rotate(45deg);
  top: 0;
}

.nav-mobile {
  @media screen and (max-width: 1140px) {
    display: flex;
  }

  @media screen and (min-width: 1141px) {
    display: none;
  }
}

.nav-desktop {
  @media screen and (min-width: 1140px) {
    display: flex;
  }

  @media screen and (max-width: 1141px) {
    display: none;
  }
}

.mega-content {
  position: absolute;
  display: flex;
  height: 0;
  min-height: 0;
  top: 4.85rem;
  width: calc(100% - 8rem);
  z-index: -1;
  left: 4rem;
  padding: 0;
  column-gap: 3rem;
  opacity: 0;

  div {
    @include slowfade(0.2);
    display: none;
  }
  
  h3, h4 {
    font-size: 1.15rem;
    font-weight: 500;
    color: $cw-red;
    text-transform: uppercase;
  }

  h4 {
    font-size: 0.9rem;
  }

  ul, li {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: flex;
    flex-direction: column;
    padding-bottom: 0.75rem;
    border-bottom: 1px solid #EAEBEB;
    margin-bottom: 0.75rem;

    a {
      color: $cw-charcoal-light;
      font-size: 0.875rem;
      font-weight: 400;
      text-decoration: none;
      line-height: 1.2;
      padding: 0;

      &:hover {
        color: $cw-charcoal;
        text-decoration: none;
      }
    }

    span.post-date {
      width: 100%;
      display: flex;
      font-size: 0.75rem;
    }
  }

  @include slowfade();

  &.is-active {
    background-color: #fff;          
    box-shadow: 0 0 26px -20px rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    height: auto;
    min-height: 20rem;
    top: 4.85rem;
    opacity: 1;
    z-index: 10;
    padding: 3rem;
    left: 50%;
    translate: -50% 0;
    justify-content: center;

    .admin-bar & {
      top: 6.85rem;
    }

    div {
      display: flex;
      flex-direction: column;
      width: 22rem;

      &.cta {
        width: 50%;
        height: auto;
        margin: 0;
        padding: 0.5rem 2rem;
        row-gap: 0.25rem;
        align-items: flex-start;

        &::after {
          display: none;
        }

        h3 {
          color: #fff;
          text-transform: none;
          margin-bottom: 1rem !important;
        }

        p {
          font-size: 0.9rem;
          line-height: 1rem;

          strong {
            color: #fff;
            margin-top: 0.5rem;
            display: flex;
          }
        }

        .buttons {
          display: flex;
          flex-direction: row;
          width: 100%;
          column-gap: 1.25rem;
          align-items: center;
          margin-top: 1.25rem;
        }

        button {
            margin: 0;
        }

        a {
          color: #fff;
          float: left;
          height: 2rem;
          padding: .5rem 0.75rem;
          margin: 0;
          font-size: 0.875rem;
          line-height: 1.2;
          text-decoration: underline;

          &:hover {
            color: #fff;
            text-decoration: none;
          }

          &.button {
            background: $cw-red;
            color: #fff !important;
            font-weight: 500;
            text-transform: none;
            line-height: 1.2;
            text-decoration: none;

            &:hover {
              background: darken($cw-red, 10%);
              color: #fff !important;
            }
          }
        }
      }
    }

    @media (max-width: 960px) {
      padding: 2rem 1.5rem;
    }

    @media (max-width: 1140px) {
      top: unset;
      bottom: 0;
      height: 80vh;
      width: 100%;
      right: 0;
      left: 0;
      overflow-y: auto;

      div {
        margin-bottom: 2rem;
        padding-bottom: 2rem;
        border-bottom: 1px solid $cw-charcoal;
        width: auto;

        ul.mega-list {
          display: none;
        }

        &.cta {
          width: auto;
        }
      }
    }

    * {
      opacity: 1;
    }

    @include slowfade();

  }

  @media (max-width: 1160px) {
    // width: calc(100% - 4rem);
    // left: 2rem;
  }

  @media (max-width: 1060px) {
    width: 100%;
    left: 0;
    column-gap: 2rem;
  }

  @media (max-width: 1140px) {
    left: unset;
    right: 17rem;
    height: 100vh;
    width: 20rem;
  }

  .menu-cta {
    font-size: 0.9rem;
    text-transform: uppercase;
    
    &::after {
      border-style: solid;
      border-width: 0.175em 0.175em 0 0;
      content: '';
      display: inline-block;
      height: 0.45em;
      left: 0.3rem;
      position: relative;
      top: 0.5rem;
      transform: rotate(45deg);
      vertical-align: top;
      width: 0.45em;
    }
  }
}

li.mega::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  border: 10px solid transparent;
  border-bottom-color: #fff;
}